/*
* name    智享公用css
* author  robin
* date    20170413
*/
.red {
  color: #FF4949;
}
.black {
  color: #333;
}
blockquote,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
address,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: 400;
}
abbr,
body,
fieldset,
html,
iframe,
img {
  border: 0;
}
address,
cite,
dfn,
em,
i,
var {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sub,
sup {
  font-size: 83%;
}
code,
kbd,
pre,
samp {
  font-family: inherit;
}
q:after,
q:before {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
b,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 400;
}
a,
a:hover,
del,
ins,
s,
u {
  text-decoration: none;
}
body,
button,
input,
keygen,
legend,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  color: #333;
  outline: 0;
}
body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #333;
}
a:hover {
  color: #f6623f;
}
.cur-p {
  cursor: pointer;
}
.cur-d {
  cursor: default;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.dis-b {
  display: block;
}
.dis-n {
  display: none;
}
.dis-i {
  display: inline;
}
.dis-i-b {
  display: inline-block;
}
.dis-t {
  display: table;
}
.wfull {
  width: 100%;
}
.hfull {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*modal*/
.zx-modal-dialog {
  width: 942px;
  /*height: 608px;*/
}
.zx-modal-header {
  padding: 15px;
  text-align: center;
}
.zx-modal-body {
  position: relative;
  padding: 15px;
  height: 500px;
  overflow: auto;
}
.zx-modal-footer {
  padding: 15px;
  text-align: center;
}
.form-control:focus {
  border-color: #f54e27;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 139, 111, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 139, 111, 0.6);
}
.form-btn:hover,
.form-btn:focus {
  border-color: #999;
}
.btn-submit,
.btn-submit:active {
  color: #fff;
  background-color: #f6623f;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active:hover {
  color: #fff;
  background-color: #f54e27;
}
.clearfix {
  clear: both;
}
.header {
  background: #fff;
}
.header-inner {
  width: 1200px;
  margin: 0 auto;
  height: 74px;
}
.logo {
  margin-top: 15px;
}
.right-content {
  margin: 18px 32px 18px 32px;
}
.crumb {
  margin: 18px 0 0 0;
  padding: 0 32px 0;
  font-size: 18px;
  line-height: 40px;
}
.tab-panel {
  height: 62px;
  border-bottom: 1px solid #e5e5e5;
}
.tabinner {
  position: relative;
  padding: 22px 32px 0 18px;
  overflow: hidden;
}
.tabinner li {
  cursor: pointer;
  position: relative;
  float: left;
  width: 78px;
  padding: 0 7px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin-left: 7px;
}
.tabinner li:hover {
  color: #f54e27;
}
.tabinner li.active:after {
  position: absolute;
  content: '';
  left: 7px;
  right: auto;
  top: auto;
  bottom: 1px;
  width: 64px;
  height: 3px;
  background-color: #f54e27;
}
.in-bd .bgGreen,
.in-bd .bgBlue {
  height: 124px;
  position: relative;
}
.in-bd .bgGreen {
  width: 252px;
}
.in-bd .bgBlue {
  width: calc(-162%);
}
/*进度条宽度*/
#ossfile {
  width: 200px;
}
/*btn*/
.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.reset-wrap,
.register-wrap,
.login-wrap {
  width: 356px;
  margin: 200px auto;
  padding: 28px 50px 38px;
  background-color: rgba(255, 255, 255, 0.6);
}
/*循环*/
.w10 {
  width: 10px !important;
}
.w20 {
  width: 20px !important;
}
.w30 {
  width: 30px !important;
}
.w40 {
  width: 40px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.h10 {
  height: 10px !important;
}
.h20 {
  height: 20px !important;
}
.h30 {
  height: 30px !important;
}
.h40 {
  height: 40px !important;
}
.h50 {
  height: 50px !important;
}
.h60 {
  height: 60px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h90 {
  height: 90px !important;
}
.h100 {
  height: 100px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl70 {
  padding-left: 70px !important;
}
.pl80 {
  padding-left: 80px !important;
}
.pl90 {
  padding-left: 90px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pr70 {
  padding-right: 70px !important;
}
.pr80 {
  padding-right: 80px !important;
}
.pr90 {
  padding-right: 90px !important;
}
.pr100 {
  padding-right: 100px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.ml80 {
  margin-left: 80px !important;
}
.ml90 {
  margin-left: 90px !important;
}
.ml100 {
  margin-left: 100px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr70 {
  margin-right: 70px !important;
}
.mr80 {
  margin-right: 80px !important;
}
.mr90 {
  margin-right: 90px !important;
}
.mr100 {
  margin-right: 100px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
