html,
body,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    background-image: url(../images/login_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.login-wrap,
.register-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 456px;
    padding: 28px 50px 38px;
    background-color: rgba(255, 255, 255, .6);
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
input[type='text'],
input[type='password'] {
    display: block;
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    padding: 11px 8px;
    border-radius: 4px;
}

input[type='text']:focus,
input[type='password']:focus {
    box-shadow: 0 0 1px 1px #ff8b6f;
    -webkit-box-shadow: 0 0 1px 1px #ff8b6f;
    -moz-box-shadow: 0 0 1px 1px #ff8b6f;
}

h2 {
    font-size: 24px;
    color: #ff8b6f;
    text-align: center;
}

.input-field {
    position: relative;
    font-size: 16px;
    margin-bottom: 14px;
    color: #666;
}

.base-register .input-field {
    margin-bottom: 14px;
}

.action {
    margin-bottom: 14px;
}

.action .remember {
    vertical-align: baseline;
    margin-right: 4px;
}

.action label {
    color: #999999;
    font-weight: 400;
    font-size: 16px;
}

.linelight {
    font-size: 16px;
    color: #ff8b6f;
}

.linelight:hover {
    text-decoration: underline;
}

.relex {
    margin-top: 15px;
    line-height: 1em;
    color: #666;
}

.phone-code .code-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #ed793d;
    font-size: 16px;
    width: 120px;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    text-align: center;
    cursor: pointer;
}

.phone-code .code-btn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    height: 36px;
    width: 1px;
    background-color: #ddd;
}