.container {
    width: 1200px;
    height: 820px;
    background: #FFFFFF;
    margin: 20px auto;
}

.container .container-left {
    width: 1175px;
    height: 120px;
    padding-left: 125px;
    padding-top: 60px;
}

.container .container-left .container-nav {
    width: 35px;
    height: 35px;
    float: left;
    background: #E3E3E3 url(../images/register-icons.png) -84px -17px no-repeat;
    border-radius: 50%;
}

.container .container-left .container-top {
    width: 400px;
    height: 8px;
    background: #FF8B6F;
    float: left;
    margin: 12px -2px;
}

.container .container-left .container-bottom {
    width: 65px;
    height: 65px;
    float: left;
    background: #E3E3E3 url(../images/register-icons.png) -138px -1px no-repeat;
    border-radius: 50%;
    margin: -12px 0px;
}

.container .container-left .container-middle {
    width: 400px;
    height: 8px;
    background: #E3E3E3;
    float: left;
    margin: 12px -2px;
}

.container .container-left .container-aside {
    width: 35px;
    height: 35px;
    float: left;
    background: #E3E3E3;
    border-radius: 50%;
}

.container-right {
    width: 1200px;
    height: 120px;
}

.container-right ul {
    line-height: 40px;
    font-size: 18px;
}

.container-right ul li:nth-child(1) {
    width: 550px;
    height: 50px;
    display: inline-block;
    color: #979797;
    text-indent: 6em;
}

.container-right ul li:nth-child(2) {
    width: 300px;
    height: 50px;
    display: inline-block;
    color: #979797;
}

.container-right ul li:nth-child(3) {
    width: 300px;
    height: 50px;
    display: inline-block;
    color: #979797;
    text-indent: 7em;
}

.select {
    width: 1200px;
    height: 420px;
}

.person {
    width: 600px;
    height: 420px;
    float: left;
    padding-left: 280px;
}

.person .person-left {
    width: 150px;
    height: 165px;
    background: url(../images/register-icons.png) 7px -68px no-repeat;
    padding-left: 20px;
    padding-top: 20px;
}

.person .person-left .person-bright {
    width: 80px;
    height: 80px;
    background: url(../images/register-icons.png) -114px -56px no-repeat;
}

.person p {
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 18px;
}

.person .person-right {
    width: 150px;
    height: 78px;
    padding-left: 5px;
    color: #9D9D9D;
}

.person-top {
    color: #FFA893;
    width: 110px;
    height: 43px;
    border: 2px solid #FFE2DC;
    border-radius: 8px;
    text-align: center;
    line-height: 43px;
    font-size: 18px;
    margin: 0px 15px;
    display: block;
}

.personers {
    width: 600px;
    height: 420px;
    float: left;
    padding-left: 140px;
}

.personers .person-left {
    width: 150px;
    height: 165px;
    background: url(../images/register-icons.png) 7px -68px no-repeat;
    padding-left: 20px;
    padding-top: 20px;
}

.personers .person-left .person-kid {
    width: 80px;
    height: 80px;
    background: url(../images/register-icons.png) -117px -130px no-repeat;
}

.personers p {
    width: 150px;
    height: 35px;
    text-align: center;
    font-size: 18px;
}

.personers .person-right {
    width: 150px;
    height: 78px;
    padding-left: 5px;
    color: #9D9D9D;
}